# https://yazi-rs.github.io/docs/configuration/keymap
# Default: https://github.com/sxyazi/yazi/blob/main/yazi-config/preset/keymap-default.toml
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
    { on = "<Esc>",   run = [ "escape", "unyank" ],           desc = "Exit visual mode, clear selected, or cancel search" },
    { on = "<C-[>",   run = [ "escape", "unyank" ],           desc = "Exit visual mode, clear selected, or cancel search" },
    { on = "q",       run = "plugin simple-close",            desc = "Close the current tab, or quit if it is last tab, without writing cwd file" },
    { on = "Q",       run = "close",                          desc = "Close the current tab, or quit if it is last tab" },
    { on = "l",       run = "plugin smart-enter",             desc = "Enter the child directory, or open the file" },
    { on = "<Enter>", run = "open --interactive",             desc = "Open selected files interactively" },
    { on = "<C-s>",   run = 'shell "$SHELL" --block',         desc = "Open shell here" },
    { on = "<C-n>",   run = 'shell -- ripdrag -a -x %s',    desc = "Start drag&drop with ripdrag" },
    { on = "<{>",     run = 'plugin parent-arrow -- -1',      desc = "Go to previous parent directory" },
    { on = "<}>",     run = 'plugin parent-arrow -- 1',       desc = "Go to next parent directory" },
    { on = "M",       run = 'plugin mount',                   desc = "Manage mounts" },
    { on = "<C-Space>", run = 'shell -- qlmanage -p %s',    desc = "Open Quick Look", for = "macos" },
    { on = "<C-Space>", run = 'shell -- sushi %s',          desc = "Open Quick Look", for = "linux" },

    { on = "!", run = 'shell --block --interactive --cursor=0 %h', desc = "Run command" },
    { on = "@", run = 'shell --block --interactive --cursor=0 %s', desc = "Run command" },

    # Linemode
    { on = [ "m", "c" ], run = "linemode ctime",       desc = "Linemode: ctime" },

    # Sorting
    { on = [ ",", "c" ], run = [ "sort ctime --reverse=no", "linemode ctime" ], desc = "Sort by changed time" },
    { on = [ ",", "C" ], run = [ "sort ctime --reverse", "linemode ctime" ],    desc = "Sort by changed time (reverse)" },

    # Plugins
    { on = "F",          run = "plugin smart-filter",                desc = "Smart filter" },
    { on = "o",          run = "plugin open-with-cmd block",  desc = "Open with command in the terminal" },
    { on = "O",          run = "plugin open-with-cmd",               desc = "Open with command" },
    { on = "i",          run = "plugin toggle-pane max-preview",     desc = "Maximize or restore preview" },
    { on = "I",          run = "plugin toggle-pane min-preview",     desc = "Hide or show preview" },
    { on = [ "c", "a" ], run = "plugin ouch",                        desc = "Archive selected files" },
    { on = [ "c", "m" ], run = "plugin chmod",                       desc = "Chmod on selected files" },
    { on = [ "c", "p" ], run = "plugin command",                     desc = "Yazi command prompt" },
    { on = [ "g", "c" ], run = "plugin vcs-files",                   desc = "Show Git file changes" },
    { on = "H",          run = "plugin lessfilter -1",               desc = "Scroll preview left" },
    { on = "L",          run = "plugin lessfilter +1",               desc = "Scroll preview right" },
    { on = "+",          run  = "plugin zoom 1",                     desc = "Zoom in hovered file" },
    { on = "-",          run  = "plugin zoom -1",                    desc = "Zoom out hovered file" },
]

[tasks]
prepend_keymap = [
    { on = "d", run = "cancel", desc = "Cancel the task" },
]

[input]
prepend_keymap = [
    { on = [ "<Esc>" ], run = 'close',  desc = "Cancel input" },
]

[completion]
append_keymap = [
    { on = [ "<C-k>" ], run = "arrow prev", desc = "Move cursor up" },
    { on = [ "<C-j>" ], run = "arrow next", desc = "Move cursor down" },
]
