# Defaults:
# https://github.com/sxyazi/yazi/blob/main/yazi-config/preset/theme-light.toml
# https://github.com/sxyazi/yazi/blob/main/yazi-config/preset/theme-dark.toml
"$schema" = "https://yazi-rs.github.io/schemas/theme.json"

[mgr]
border_style = { fg = "darkgray" }

[mode]
normal_main = { fg = "white", bg = "#6182b8", bold = true }
select_main = { fg = "white", bg = "red", bold = true }
unset_main  = { fg = "white", bg = "red", bold = true }

[which]
cols = 1
mask            = { bg = "reset" }
cand            = { fg = "red" }
# rest            = { fg = "darkgray" }
desc            = { fg = "reset" }
# separator       = "  "
# separator_style = { fg = "darkgray" }

[filetype]
rules = [
    # Images
    { mime = "image/*", fg = "cyan" },

    # Media
    { mime = "{audio,video}/*", fg = "yellow" },

    # Archives
    { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", fg = "magenta" },

    # Documents
    { mime = "application/{pdf,doc,rtf,vnd.*}", fg = "green" },

    # Virtual file system
    { mime = "vfs/{absent,stale}", fg = "darkgray" },

    # Special files
    { url = "*", is = "orphan", bg = "red" },
    { url = "*", is = "exec",   fg = "green", bold = true },
    { url = "*", is = "link",   fg = "cyan" },

    # Dummy files
    { url = "*", is = "dummy", bg = "red" },
    { url = "*/", is = "dummy", bg = "red" },

    # Fallback
    { url = "*/", fg = "blue" }
]

[icon]
append_exts = [
    { name = "cbz", text = "" },
    { name = "cbr", text = "" },
    { name = "cb7", text = "" }
]
