# Default: https://github.com/sxyazi/yazi/blob/main/yazi-config/preset/yazi-default.toml
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
# ratio = [1, 4, 3]
sort_by = "natural"
sort_dir_first = true
# linemode = "size"

[preview]
wrap = "yes"

[opener]
reveal = [
    { run = 'xdg-open %s1',                desc = "Open", for = "linux" },
    { run = 'open %s',                     desc = "Open", for = "macos" },
    { run = 'start "" %s1', orphan = true, desc = "Open", for = "windows" },

    { run = 'less %s1', block = true, desc = "less" },

    # TODO: turn into plugin with popup?
    { run = 'xfile %s1; read _', block = true, desc = "xfile" },
    { run = 'stat %s1; read _', block = true, desc = "stat" },

    { run = 'open -R %s1',                          desc = "Reveal", for = "macos" },
    { run = 'explorer /select, %s1', orphan = true, desc = "Reveal", for = "windows" },
    { run = 'gtk-launch $(xdg-mime query default inode/directory) %s1', orphan = true, desc = "Reveal", for = "linux" },
]
extract = [
    { run = 'unpack %s1', desc = "Extract here" },
]
ncdu = [
    { run = 'ncdu %s1', block = true, desc = "ncdu" }
]
csvlens = [
    { run = 'csvlens %s1', block = true, desc = "csvlens" }
]

[open]
prepend_rules = [
    { url = "*/", use = [ "ncdu", "edit", "reveal" ] },
    { url = "*.{cbz,cbr,cb7}", use = [ "open", "reveal" ] },
    { url = "*.csv", use = ["csvlens", "reveal" ] },
]

[plugin]
prepend_preloaders = [
    { mime = "text/*",                 run = "lessfilter" },
    { mime = "*/xml",                  run = "lessfilter" },
    { mime = "*/javascript",           run = "lessfilter" },
    { mime = "*/wine-extension-ini",   run = "lessfilter" },
    { mime = "application/json",       run = "lessfilter" },

    { mime = "application/epub+zip",           run = "thumbnailer epub",   for = "linux" },
    { mime = "application/x-mobipocket-ebook", run = "thumbnailer mobi",   for = "linux" },
    { url  = "*.{cbz,cbr,cb7}",                run = "thumbnailer papers", for = "linux" },
]
append_preloaders = [
    { mime = "application/*", prio = "low", run = "lessfilter" },
]
prepend_previewers = [
    { mime = "text/*",                 run = "lessfilter" },
    { mime = "*/xml",                  run = "lessfilter" },
    { mime = "*/javascript",           run = "lessfilter" },
    { mime = "*/wine-extension-ini",   run = "lessfilter" },
    { mime = "application/json",       run = "lessfilter" },

    { mime = "application/epub+zip",           run = "thumbnailer epub",   for = "linux" },
    { mime = "application/x-mobipocket-ebook", run = "thumbnailer mobi",   for = "linux" },
    { url  = "*.{cbz,cbr,cb7}",                run = "thumbnailer papers", for = "linux" },

    { mime = "application/iso9660-image", run = "lessfilter" },
]
append_previewers = [
    { url = "*", run = "lessfilter" },
]
prepend_fetchers = [
    { id = "git", url = "*",  run  = "git" },
    { id = "git", url = "*/", run  = "git" },
]


[select]
open_offset = [ 0, 1, 50, 15 ]
