[Unit]
Description=Daily cleanup
OnFailure=status-mail@%n.service

[Service]
Type=oneshot
ExecStart=bash ${DOTFILES}/../bin/daily-cleanup

[Install]
WantedBy=daily.target
