[user]
	name = Jan Larres
	email = jan@majutsushi.net

[gui]
	fontdiff = -family terminus -size 9 -weight normal -slant roman -underline 0 -overstrike 0

[alias]
	st = status
	ci = commit
	co = checkout
	rlog = log --pretty=format:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\"
	slog = log --stat
	wdiff = diff --color-words
	wshow = show --color-words
	lol = log --pretty=oneline --graph --decorate --abbrev-commit
	lola = log --pretty=oneline --graph --decorate --abbrev-commit --all

[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[core]
	excludesfile = ~/.gitignore
	fsyncobjectfiles = true

[web]
	browser = firefox

[instaweb]
	httpd = lighttpd

[cola]
	fontui = DejaVu Sans,8,-1,5,50,0,0,0,0,0
	fontdiff = DejaVu Sans Mono,8,-1,5,50,0,0,0,0,0

[url "ssh://[login]@git.gnome.org/git/"]
	insteadof = gnome:

# vim: noexpandtab sw=8 sts=8
