[user]
	name = Jan Larres
	email = jan@majutsushi.net

[core]
	excludesfile = ~/.gitignore
	fsyncobjectfiles = false

[alias]
	st = status
	ci = commit
	co = checkout

	sl  = log --stat
	gl  = log --graph --pretty=format:\"%C(yellow)%h%C(red)%d%Creset %s\"
	gla = log --graph --pretty=format:\"%C(yellow)%h%C(red)%d%Creset %s\" --all
	ll  = log --graph --pretty=format:\"%C(yellow)%h %C(blue)%ci%C(green) %an %C(red)%d %Creset%s\"
	lla = log --graph --pretty=format:\"%C(yellow)%h %C(blue)%ci%C(green) %an %C(red)%d %Creset%s\" --all
	in = !git ll ..origin

	d  = diff --patience -B -C
	sd = diff --patience -B -C --staged
	wd = diff --color-words --patience -B -C
	ws = show --color-words
	hgp = show --format=\"From: %an <%ae>%n%s%n%b\" -U8
	branch-diff = !git diff $(git merge-base HEAD master) $1

	up = !git pull && git ll HEAD@{1}..
	reup = !git pull --rebase && git diff --stat HEAD@{1}.. && git ll HEAD@{1}..

[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto

[diff]
	tool = vimdiff

[mergetool "gvimdiff3"]
	cmd = gvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[merge]
	tool = vimdiff3
	conflictstyle = diff3

[web]
	browser = firefox

[instaweb]
	httpd = lighttpd

[gui]
	fontdiff = -family terminus -size 9 -weight normal -slant roman -underline 0 -overstrike 0

[cola]
	fontui = DejaVu Sans,8,-1,5,50,0,0,0,0,0
	fontdiff = DejaVu Sans Mono,8,-1,5,50,0,0,0,0,0

[url "ssh://[login]@git.gnome.org/git/"]
	insteadof = gnome:

# vim: noexpandtab sw=8 sts=8
