*.pyc
*.hi

mutt/.mutt/smtp-*
mutt/.mutt/imap-*
vim/.vim/systags
vim/.vim/.netrwhist
vim/.vim/cache
vim/.vim/spell
vim/.vim/GetLatest/Installed
xmonad/history
xmonad/xmonad-i386-linux
xmonad/xmonad.errors
