*.pyc
*.hi

tags-??

emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/session.*
mutt/.mutt/smtp-*
mutt/.mutt/imap-*
mutt/.mutt/aliases
mutt/.mutt/certificates
mutt/.mutt/lists
mutt/.mutt/*.dat
pentadactyl/.pentadactyl/info/
screen/statusrc
vim/.vim/abbrevs.vim
vim/.vim/systags
vim/.vim/.netrwhist
vim/.vim/cache
vim/.vim/spell
vim/.vim/GetLatest/Installed
vim/.vim/passwords.vim
vim/.vim/bundle/latex-box
vim/.vim/bundle/tagbar
xmonad/history
xmonad/xmonad-i386-linux
xmonad/xmonad.errors
