[submodule "vim/vim/bundle/pathogen"]
	path = vim/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/quickfixsigns"]
	path = vim/vim/bundle/quickfixsigns
	url = https://github.com/tomtom/quickfixsigns_vim.git
[submodule "vim/vim/bundle/tlib"]
	path = vim/vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/vim/bundle/checkattach"]
	path = vim/vim/bundle/checkattach
	url = https://github.com/chrisbra/CheckAttach.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/repeat"]
	path = vim/vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/gundo"]
	path = vim/vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/align"]
	path = vim/vim/bundle/align
	url = https://github.com/vim-scripts/Align.git
[submodule "vim/vim/bundle/zoomwin"]
	path = vim/vim/bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "vim/vim/bundle/gtk-vim-syntax"]
	path = vim/vim/bundle/gtk-vim-syntax
	url = https://github.com/vim-scripts/gtk-vim-syntax.git
[submodule "vim/vim/bundle/vis"]
	path = vim/vim/bundle/vis
	url = https://github.com/vim-scripts/vis.git
[submodule "vim/vim/bundle/conqueshell"]
	path = vim/vim/bundle/conqueshell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "vim/vim/bundle/vim-r-plugin"]
	path = vim/vim/bundle/vim-r-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
[submodule "vim/vim/bundle/markdown"]
	path = vim/vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vim/bundle/csapprox"]
	path = vim/vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "vim/vim/bundle/clang_complete"]
	path = vim/vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "vim/vim/bundle/vim-orgmode"]
	path = vim/vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/vim/bundle/utl"]
	path = vim/vim/bundle/utl
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "vim/vim/bundle/vim-speeddating"]
	path = vim/vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/vim/bundle/calendar.vim"]
	path = vim/vim/bundle/calendar.vim
	url = https://github.com/mattn/calendar-vim.git
[submodule "vim/vim/bundle/fswitch"]
	path = vim/vim/bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "vim/vim/bundle/protodef"]
	path = vim/vim/bundle/protodef
	url = https://github.com/derekwyatt/vim-protodef.git
[submodule "vim/vim/bundle/xptemplate"]
	path = vim/vim/bundle/xptemplate
	url = https://github.com/drmingdrmer/xptemplate.git
	ignore = dirty
[submodule "vim/vim/bundle/vim-gnupg"]
	path = vim/vim/bundle/vim-gnupg
	url = git://gitorious.org/vim-gnupg/vim-gnupg.git
[submodule "vim/vim/bundle/drawit"]
	path = vim/vim/bundle/drawit
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "vim/vim/bundle/gitv"]
	path = vim/vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vim/vim/bundle/ctrlp"]
	path = vim/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/easymotion"]
	path = vim/vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vim/bundle/screen"]
	path = vim/vim/bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "vim/vim/bundle/splice"]
	path = vim/vim/bundle/splice
	url = https://github.com/sjl/splice.vim.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "urxvt/urxvt-font-size"]
	path = urxvt/urxvt-font-size
	url = git@github.com:majutsushi/urxvt-font-size.git
[submodule "vim/vim/bundle/vim-scriptease"]
	path = vim/vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vim/vim/bundle/vim-textobj-user"]
	path = vim/vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/vim/bundle/vim-textobj-function"]
	path = vim/vim/bundle/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule "vim/vim/bundle/vim-textobj-entire"]
	path = vim/vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/vim/bundle/vim-textobj-indent"]
	path = vim/vim/bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "vim/vim/bundle/vim-textobj-line"]
	path = vim/vim/bundle/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "vim/vim/bundle/vim-textobj-space"]
	path = vim/vim/bundle/vim-textobj-space
	url = https://github.com/saihoooooooo/vim-textobj-space.git
[submodule "vim/vim/bundle/vim-expand-region"]
	path = vim/vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "vim/vim/bundle/visincr"]
	path = vim/vim/bundle/visincr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "vim/vim/bundle/vim-signify"]
	path = vim/vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/vim/bundle/jedi-vim"]
	path = vim/vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/vim/bundle/vim-commentary"]
	path = vim/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim/bundle/vim-unimpaired"]
	path = vim/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/vim-characterize"]
	path = vim/vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "vim/vim/bundle/tabular"]
	path = vim/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/vim/bundle/vim-table-mode"]
	path = vim/vim/bundle/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "vim/vim/bundle/latex-box"]
	path = vim/vim/bundle/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = http://git.sysphere.org/vicious/
[submodule "vim/vim/bundle/bufexplorer"]
	path = vim/vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "awesome/awesome-freedesktop"]
	path = awesome/awesome-freedesktop
	url = https://github.com/terceiro/awesome-freedesktop.git
