/*
 * Platform media queries:
 * https://github.com/mozilla-firefox/firefox/commit/8de26dc4c10d16c3cece98840e77c4b68ea32747
 */

/* Dim unloaded tabs */
.tabbrowser-tab[pending="true"] {
    opacity: 0.6;
}

/* Make new tabs italic */
/* Doesn't actually work properly :( */
/* https://www.reddit.com/r/FirefoxCSS/comments/nfin2q/tabbar_improvment/ */
/* .tabbrowser-tab[notselectedsinceload="true"] { */
/*     font-style: italic; */
/* } */

/* Make the vertical tabs sidebar more compact */
#tabbrowser-tabs[orient="vertical"] {
    & .tabbrowser-tab {
        padding-block: 0px !important;
    }
}
#tabbrowser-tabs[orient="vertical"] {
    & .tab-background {
        @media (-moz-platform: linux) {
            margin-block: 0 !important;
            min-height: 0 !important;
        }
        @media (-moz-platform: macos) {
            min-height: 1.9em !important;
        }
    }
}
@media -moz-pref("sidebar.verticalTabs") {
    :root {
        --tab-block-margin: 0px;
    }
}
.tab-group-label-container {
    #tabbrowser-tabs[orient="vertical"] & {
        margin-block-start: 0 !important;
    }
}
.tab-group-label-hover-highlight {
    tab-group[collapsed]:not([movingtabgroup]) &:hover, tab-group[previewpanelactive] & {
        #tabbrowser-tabs[orient="vertical"] & {
            box-shadow: none !important;
        }
    }
}

@media (-moz-platform: linux) {
    #sidebar-main {
        background-color: #eaeaed;
        @media (prefers-color-scheme: dark) {
            background-color: #222;
        }
    }
    #sidebar-tools-and-extensions-splitter {
        border-color: #eaeaed !important;
        @media (prefers-color-scheme: dark) {
            border-color: #222 !important;
        }
    }
}
