(
    command_fg: Some(Black),
    selection_bg: Some(White),
    selection_fg: Some(Black),
    cmdbar_bg: Some(Gray),
    cmdbar_extra_lines_bg: Some(Gray),
    disabled_fg: Some(Indexed(244)),
    commit_hash: Some(Yellow),
    commit_time: Some(Blue),
    branch_fg: Some(Magenta)
)
