/* GtkStatusIcon { */
/*     background-color: #ffffff; */
/*     color: #ffffff; */
/*     border-color: #ffffff; */
/* } */

/* * { */
/*     -GtkComboBox-appears-as-list: 1; */
/* } */

window#vim-main-window.background widget.gtk-form {
    background-color: #333333;
}

menu, .menu {
    padding: 3px;
}

VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 15px 15px 15px 15px;
    -VteTerminal-inner-border: 15px 15px 15px 15px;
}
