/* https://gnome.pages.gitlab.gnome.org/libadwaita/doc/1-latest/css-variables.html */

:root {
  --cc-bg: var(--window-bg-color);
  --noti-border-color: color-mix(in srgb, currentColor 15%, transparent);
  --noti-bg: var(--cc-bg);
  --noti-bg-hover: var(--accent-bg-color);
  --noti-bg-focus: mix(var(--noti-bg), var(--text-color), 0.3);
  --noti-close-bg: rgba(255, 255, 255, 0.1);
  --noti-close-bg-hover: rgba(255, 255, 255, 0.15);
  --text-color: var(--view-fg-color);
  --text-color-disabled: color-mix(in srgb, var(--window_fg_color) 50%, transparent);
  --bg-selected: var(--accent-bg-color);
  --border-radius: 12px;
}


* {
  font-family: Ubuntu, Symbols Nerd Font, sans-serif;
}

.notification-row .notification-background {
  padding: 15px 15px 20px 15px;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  background: mix(var(--noti-bg), var(--text-color), 0.15);
  box-shadow: 0px 5px 5px 5px mix(var(--noti-bg), var(--text-color), 0.6);
}

.notification-row .notification-background .notification.critical {
  /* Critical Priority Notification */
  background: var(--error-bg-color);
}

.notification-group:focus {
  border-radius: var(--border-radius);
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  color: var(--accent-fg-color);
  background-color: var(--noti-bg-hover);
}

.control-center {
  border: var(--border);
}

:root {
  --mpris-album-art-overlay: var(--cc-bg);
  --mpris-button-hover: var(--noti-bg-focus);
}

.widget-mpris .widget-mpris-player {
  box-shadow: unset;
}
