{% let s:fname = substitute(fnamemodify(expand('%'), ':t:r'), '\W', '_', 'g') %}
" Author:  {{ g:user_name }} <{{ g:user_email }}>
" License: MIT/X11

if &compatible || exists('loaded_{{ s:fname }}')
    finish
endif
let loaded_{{ s:fname }} = 1
