# m h  dom mon dow   command
30  *  *   *   *     $HOME/.etc/crontab/runcrontab hourly
0   4  *   *   *     $HOME/.etc/crontab/runcrontab daily
0   5  *   *   7     $HOME/.etc/crontab/runcrontab weekly
0   6  1   *   *     $HOME/.etc/crontab/runcrontab monthly
