#!/usr/bin/env bash
# Author:       {{ g:user_name }} <{{ g:user_email }}>
# Created:      {{ strftime('%Y-%m-%d %H:%M:%S %z %Z') }}
# Last changed: {{ strftime('%Y-%m-%d %H:%M:%S %z %Z') }}

set -eEu -o pipefail
IFS=$'\n\t'
PS4='+\t '

error_handler() { echo "Error: Line ${1} exited with status ${2}"; }
trap 'error_handler ${LINENO} $?' ERR

[[ "${TRACE:-0}" == "1" ]] && set -x
