[% name=input('her name: ') -%]
[% eyescolor=choice('her eyes: ', 'blue', 'green', 'gray', 'black') -%]
[% weekday=choice('which weekday: ', 'Sonnday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') -%]
[% location=input('your own location: ') -%]
                                      [% ucfirst(location) %], [% date('%b %d, %Y') %] 
My Dear [% ucfirst(name) %],

Do you know that I love the color of your [% eyescolor %] eyes?
... bla, ... bla, ... bla

I'm glad to see you on [% weekday %]

Much Love,

[% user.firstname %]
