[% title=input('Title: ') -%]
[% fname_canonic=filename.remove('\.vim$') FILTER lower -%]
" [% filename %] -- [% title %]
" Author       : [% user.firstname %] [% user.lastname %] <[% user.mail %]>
" Website      : [% user.www %]
" Created      : [% date('%Y-%m-%d %H:%M:%S %z %Z') %]
" Last changed : [% date('%Y-%m-%d %H:%M:%S %z %Z') %]

if &cp || exists("loaded_[% fname_canonic %]")
    finish
endif
let loaded_[% fname_canonic %] = 1

<+CURSOR+>

